// Light theme variables
$light-bg-color: #ffffff;
$light-text-color: #000000;
$light-text-hover-color: #6f62f3;

// Dark theme variables
$dark-bg-color: #000000;
$dark-text-color: #ffffff;
$dark-text-hover-color: #8383fd;
